<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="/css/menus.css">
</head>

<body>
    <header>
        <h1 th:text="${bucketname}"></h1>

        <section id="menu">
            <button th:attr="onclick=|displayMenu('${bucketname}')|">New object</button>
        </section>
    </header>

    <ul id="myUL">
        <li th:each="d : ${directories}" class="directory">
            <a th:href="@{ /objects/{bucket}/{directory}/ (bucket=${bucketname}, directory=${d}) }" th:text="${d}"></a>
        </li>

        <li th:each="f : ${files}">
            <a th:href="@{ /objects/{bucket}/{file}/ (bucket=${bucketname}, file=${f}) }" th:text="${f}"></a>
        </li>
    </ul>

    <script src="/js/objectMenu.js"></script>
</body>

</html>