<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="/css/menus.css">
</head>
<body>
    <header>
        <h1 th:text="'Welcome, ' + ${username}"></h1>
        
        <section id="menu">
            <button onclick="displayMenu()">New bucket</button>
        </section>
    </header>

    <ul th:each="b : ${buckets}">
        <li>
            <a th:href="@{ /objects/{bucket} (bucket=${b.bucketname}) }" th:text="${b.bucketname}"></a>
        </li>
    </ul>

    <script src="/js/bucketMenu.js"></script>
</body>
</html>